<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/images/carrun_2x.png" />
    <title>交易策略系统</title>
    <link type="text/css" rel="stylesheet" href="/static/style/common.css?v=20170527020">
    <link type="text/css" rel="stylesheet" href="/static/style/blue.css?v=20170527020">
    <link type="text/css" rel="stylesheet" href="/static/style/styles.css?v=20170527020">
    <link rel="stylesheet" href="/static/js/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/js/lib/bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/js/lib/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/style/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript"  src="/static/js/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript"  src="/static/js/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/lib/bootstrap/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

     <script type="text/javascript" src="/static/js/lib/socketio/socket.io.min.js" ></script>
    <script type="text/javascript" src="/static/js/blue-earth.js" ></script>
</head>
<body style="margin: 20px">
<h2 >System Profile</h2>


<div>
   设备编号: <select id="device_list" style="width: 300px"></select>
    <!--<input id="device_id" type="text" value="8681221788186"/>-->
</div>

<div>
   设备命令: <input id="device_command" type="text" value="VERSION#" width="200px"/>
</div>
<div>
   状态: <span id="status"></span>
</div>
<div>
    <button id="btn_send">发送</button>
</div>

<div>
     <button id="btn_sub" type="submit">订阅</button>
        <button id="btn_unsub" class="" >取消订阅</button>
</div>

<div style="margin-outside: 20px">
    设备消息： <p id="device_detail"></p>
</div>

</body>

<script type="text/javascript" src="/static/js/command.js"></script>
</html>